BACKFILL=false
TWITTER_AUTHORIZATION_HEADERS={"authorization":"Bearer ..."}
TG_API_ID=123456
TG_API_HASH=your_api_hash
TG_SESSION=AwUAAAAXAgIADjE0OS4xNTQuMTY3LjUwALsBAAAXAgICDzE0OS4xNTQuMTY3LjIyMrsBAAD9EPpJAQAAADeXebz-AAEAUaz5yYxip-OAbZeTplHryzNgrUrIlGGa3KshXk171iUIlNf3Wsfb-HRHvf-8BuNBS9hNmoOOexl4uzxIBnuHWife7sCXmmBGEtr2vqofHR6IokTntbkrq_VBDJpUa9_B0LnMAHmgOAA3mO63nQWGLkwSXCPc-1z2VN2M4Vjcu5lIYvCipiRSAUODGqwlfA_p6-TZVeIhmycmjdHt16iGZPVdXVR6iQrnVUoZ_q6zVrnexYZu-niUhlxo2LxnGXz7RLzg8eFaR4eu7z7SPexAfAck4IOx43V9vPWBHER79cvg7Vcerq44KtT-6306iBF_cTjLscZQCgMn5beVnVMMrA
